<!-- Begin Mailchimp Section Subscribe -->
<section class="section-subscribe">
  <div class="section-subscribe__inner">

    <div class="section-subscribe__content">
      <h3 class="section-subscribe__title">Subscribe to Our <em>Newsletter</em></h3>
      <p class="section-subscribe__description">Join now and stay ahead in cybersecurity. Because your security matters!</p>

      <form action="https://github.us10.list-manage.com/subscribe/post?u=21c208292da350e84bd383e0b&amp;id=2adf53acb3" 
            method="post" 
            id="mc-embedded-subscribe-form" 
            name="mc-embedded-subscribe-form" 
            class="validate" 
            target="_blank" 
            novalidate>
        <div class="form__group">
          <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
          <input type="email" name="EMAIL" class="section-subscribe__email required email" 
                 id="mce-EMAIL" 
                 placeholder="Enter your email address" 
                 required>
        </div>
        <div class="form__group">
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button button--accent">
            Subscribe
          </button>
        </div>
      </form>
    </div>

    <!-- Background SVG -->
    <svg class="section-subscribe__bg" xmlns="http://www.w3.org/2000/svg" width="802" height="80" fill="none">
      <path fill="var(--background-alt-color-2)" stroke="var(--border-color)" 
            d="M314.701 10.517C156.465-14.43 39.635 35.39 1 63.42v86.313h800V10.517c-10.079 0-54.89-15.069-164.669-7.284-137.978 9.785-123.835 38.468-321.63 7.284Z"/>
    </svg>

  </div>
</section>
<!-- End Mailchimp Section Subscribe -->


